nb-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-card-detail {
    width: 15vw;
    height: 9vw;
}

p {
    font-size: 1em;
    margin: 0.5vw 0;
}
