.header-layout{
    display: flex;
    justify-content: space-between;
}

.header-card{
    width: 17vw;
    margin-bottom: 5vh;
}

.header-total-content {
    display: flex;
    height: 12vh;
}

.header-total-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-total-text {
    margin-left: 24px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h5, p {
    margin: 0;
}

.total-text{
    margin-top: 5px;
    font-weight: 400;
    opacity: 0.8;
}