<div class="header-layout">
    <nb-card accent="info" style="width: 17vw;">
        <nb-card-body>
            <div class="header-total-content" >
                <div class="header-total-button">
                    <button nbButton outline size="giant" status="primary">
                    <nb-icon icon="layers-outline"></nb-icon>
                </button>
                </div>
                
                <div class="header-total-text">
                    <h4><b>
                        10 Devices
                    </b> </h4>
                    <p class="total-text">total devices</p>
                </div>

            </div>
        </nb-card-body>
    </nb-card>
    <nb-card accent="success" style="width: 17vw;">
        <nb-card-body>
            <div class="header-total-content" >
                <div class="header-total-button">
                    <button nbButton outline size="giant" status="success">
                    <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
                </button>
                </div>
                
                <div class="header-total-text">
                    <h4><b>
                        10 Devices
                    </b> </h4>
                    <p class="total-text">total devices</p>
                </div>

            </div>
        </nb-card-body>
    </nb-card>
    <nb-card accent="danger" style="width: 17vw;">
        <nb-card-body>
            <div class="header-total-content" >
                <div class="header-total-button">
                    <button nbButton outline size="giant" status="danger">
                    <nb-icon icon="slash-outline"></nb-icon>
                </button>
                </div>
                
                <div class="header-total-text">
                    <h4><b>
                        10 Devices
                    </b> </h4>
                    <p class="total-text">total devices</p>
                </div>

            </div>
        </nb-card-body>
    </nb-card>
</div>