nb-card{
    width: 55vw;
    height: 60vh;
}

.create-form{
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-form-div{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: flex-end;
}

.right-form-div{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: flex-end;
}

.img-upload{
    width: 100%;
}

// input[type="file"] {
//     display: none;
// }