.main-card-device{
    height: 55vh;
    margin: 0;
}

.main-card-device-header{
    display: flex;
    justify-content: space-between;
}

b{
    vertical-align: middle;
}

.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-content{
    display: grid;
    grid-template-columns: auto auto auto;
}

