<nb-card [nbSpinner]="this.deviceService.isLoadingGetDevice" nbSpinnerStatus="primary" class="main-card-device">
    <nb-card-header>
        <div class="main-card-device-header">
            <div class="title-card">
                <b>
                    Devices
                </b>
            </div>
            <button (click)="this.openAddNewDialog()" nbButton status="primary">
                <nb-icon icon="plus-outline"></nb-icon>
                new device
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="main-card-content">
            <app-device-card-detail [device]="item" *ngFor="let item of this.deviceService.devices" ></app-device-card-detail>
        </div>
        
        
    </nb-card-body>
</nb-card>