<nb-card class="main-card-device">
    <nb-card-header>
        <div class="main-card-device-header">
            <div class="title-card">
                <b>
                    Devices
                </b>
            </div>
            <button nbButton status="primary">
                <nb-icon icon="plus-outline"></nb-icon>
                new device
            </button>
        </div>
    </nb-card-header>
    <nb-card-body class="main-card-content">

        <app-device-card-detail></app-device-card-detail>
        <app-device-card-detail></app-device-card-detail>
        <app-device-card-detail></app-device-card-detail>
        <app-device-card-detail></app-device-card-detail>
        <app-device-card-detail></app-device-card-detail>
        <app-device-card-detail></app-device-card-detail>

    </nb-card-body>
</nb-card>