<nb-card accent="info" class="organization-card">
    <nb-card-header>
        Organization Information
    </nb-card-header>
    <nb-card-body class="organization-content">
        <div>
            <div>
                <label>Organization ID:</label><br>
                <input nbInput>
            </div>
            <div>
                <label>Organization name:</label><br>
                <input nbInput>
            </div>
        </div>
        <div>
            <img src="../../../../../../../assets/imgs/gateway.svg" alt="">
        </div>
    </nb-card-body>
</nb-card>