<div class="log-card" >
    
    <div class="log-header">
            <h6>12:30:20 07/03/2022</h6>
        <div>
            <button size="small" nbButton outline status="info"><nb-icon icon="hash"></nb-icon>pzwOejNVuf</button>
        </div>
    </div>
    
    <div>
        <nb-icon icon="pin-outline"></nb-icon> Gate 1
    </div>
    
    <div class="log-info">
        <div>
            Complete: <nb-icon status="success" icon="checkmark-outline"></nb-icon>
        </div>
        <div>MaskFace: <nb-icon status="success" icon="checkmark-outline"></nb-icon></div>
        <div><nb-icon status="primary" icon="thermometer-outline"></nb-icon> 30 </div>
        <div> <nb-icon status="primary" icon="credit-card-outline"></nb-icon> QR </div>
    </div>
</div>